h1{
  text-align: center;
  color: green;
}
.main{
  display: block;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
}
.bigbox{
  width: 450px;
  height: 450px;
  margin-left: 0 auto;
}
.bigbox div{
  width: 150px;
  height: 150px;
  outline: 1px solid black;
  float: left;
  cursor: pointer;
}
.panel{
  display: inline-block;
  margin-right: 50%;
}
.player1{
  text-align: center;
}
.player2{
  text-align: center;
}
.reset{
  outline: 1px solid black;
  background-color: blue;
  text-align: center;
}

.clickX{
  background-image: url('/css/cross.png');
  background-size: cover;
}
.clickO{
  background-image: url('/css/circle.png');
  background-size: cover;
}
